body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1{
  margin-top: 0;
}

.top-lamp{
  height: 50px;
  width: 50px;
}

.bottom-lamp{
  height: 50px;
  width: 50px;
}

.computer{
  height: 70px;
  width: 70px;
}

.top-container{
  background-color: #FFD365;
  padding-top: 30px;
  padding-bottom: 30px;
}

.middle-container{
  background-color: #FDFFA9;
}

.bottom-container{
  background-color: #BB9981;
  padding-top: 30px;
  padding-bottom: 30px;
}
.fixed-image{
  height: 90px;
  width: 90px;
}

.link-image{
  height: 5px;
  width: 5px;
}
.profile{
  background-color: #FDFFA9;
  padding-top: 30px;
  padding-bottom: 30px;
}
.skills{
  background-color: #F4FCD9;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-me{
  padding-top: 30px;
  padding-bottom: 30px;
}
